{:api-endpoint "http://www.getembed.com/4/" ;; the api endpoint you wish to query
 :entity-type "Weather Station" ;; the entity type you are searching for
 :entity-action "pullweather" ;; action request, sent in kafka message
 :project-id "" ;; the project id you want to use
 :zookeeper "localhost:2181"
 :kafka-brokerlist "localhost:9092"
 :max-entries-per-page 200
 :debugmode true}
