{:api-endpoint "http://www.getembed.com/4/" ;; the api endpoint you wish to query
 :entity-type "Weather Station" ;; the entity type you are searching for
 :project-id "" ;; the project id you want to use
 :kafka-endpoint ""
 :max-entries-per-page 200
 }
